@import url(./reset.css);

/* Variáveis Light Mode*/
body:not(.dark) {
	--background00: #fff;
	--background01: #fff;
	--background01-deg: #1a1a1e00;
	--background02: #f6f6f7;
	--background03: rgba(142, 150, 170, 0.14);
	--background04: #202020;
	--background05: #c2c2c4;
	--background-deg: #fff;
	--primary-deg: linear-gradient(160deg, #35d3a4, #07835e, #35d3a4);

	--border: #e2e2e3;

	--gray-soft: rgba(142, 150, 170, 0.14);

	--text1: #050505;
	--text2: rgba(60, 60, 67, 0.78);
	--text3: #3c3c438f;

	--primary: #1bbd8c;
	--primary-dark: #53776c;
	--primary-light: #26dda6;

	& #Header {
		background-color: var(--background01);
		border-bottom: 1px solid var(--border);
	}

	& *.dark {
		display: none;
	}

	& #Footer #email * {
		stroke: var(--background01);
	}

	& #logo path#letters {
		fill: #b2b2b2;
	}

	& #Partners {
		& article:hover {
			background-color: var(--gray-soft);
		}

		& img {
			filter: grayscale();
		}
	}

	& #toggle-mode {
		justify-content: flex-start;
		user-select: none;

		border: 1px solid var(--background05);

		&:hover {
			border: 1px solid var(--background04);
		}

		& svg#sun path {
			stroke: var(--text2);
		}

		& svg#moon {
			display: none;
		}
	}

	& img#logo {
		display: none;
	}

	& #Quote .box {
		border: 1px solid var(--background04);
	}

	& #Features .boxes .text {
		border: 1px solid var(--background04);
	}
}

/* Variáveis Dark Mode*/
body.dark {
	--background00: #16161a;
	--background01: #1b1b1f;
	--background01-deg: #1a1a1e00;
	--background02: #202127;
	--background03: #292a31;
	--background04: #373842;
	--background05: #525364;
	--background-deg: linear-gradient(160deg, #24242b, #1b1b1f, #1b1b1f);
	--primary-deg: linear-gradient(160deg, #35d3a4, #07835e, #35d3a4);

	--border: black;

	--gray-soft: #65758529;

	--text1: rgba(255, 255, 245, 0.859);
	--text2: rgba(235, 235, 245, 0.6);
	--text3: rgba(235, 235, 245, 0.38);

	--primary: #1bbd8c;
	--primary-dark: #53776c;
	--primary-light: #26dda6;

	& *.light {
		display: none;
	}

	& #toggle-mode {
		justify-content: flex-end;

		border: 1px solid var(--background05);

		& svg#sun {
			display: none;
		}

		&:hover {
			border: 1px solid var(--primary);
		}
	}
}

/* Componentes */
.container {
	max-width: 1152px;
	margin: 0 auto;
}
.button {
	font-size: 14px;
	line-height: 38px;
	font-weight: 600;

	color: #fff;
	background-color: var(--primary);

	border: 1px solid;
	border-radius: 20px;
	border-color: var(--primary-light);

	height: fit-content;
	padding: 0 20px;
	margin: 32px 0 0;

	cursor: pointer;

	&:hover {
		background-color: var(--primary-light);
	}

	transition: color 0.25s, border-color 0.25s, background-color 0.25s;

	& a {
		white-space: nowrap;
	}

	& #text {
		width: 100%;
	}
}
.card {
	background-color: var(--background02);
	border-radius: 12px;

	min-width: calc(((var(--breakpoint-tablet)- (var(--padding) * 2))-16px) / 2);
	max-width: var(--card-max-width);

	padding: 24px;

	& .icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		border-radius: 6px;

		width: 48px;
		height: 48px;
		font-size: 24px;

		background-color: var(--gray-soft);
	}

	& .title {
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
	}

	& .details {
		padding-top: 8px;

		line-height: 24px;
		font-size: 14px;
		font-weight: 500;
		color: var(--text2);
	}
}

/* Seções */
#Expertise {
	padding: var(--padding);
	box-sizing: border-box;

	& .container {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		align-items: stretch;
	}
}
#Header {
	padding: 0 var(--padding-small);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	user-select: none;

	border-bottom: 1px solid transparent;

	&.scrolled {
		background-color: var(--background01);
		border-bottom: 1px solid var(--border);
	}

	& .container {
		height: 64px;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		background: none;

		max-width: 1320px;
		width: 100%;
	}

	& #toggle-mode {
		background-color: var(--background03);

		border-radius: 12px;

		height: 22px;
		width: 40px;

		display: flex;
		align-items: center;

		padding: 1px;

		cursor: pointer;

		transition: border 200ms linear;

		& .switch {
			height: 20px;
			width: 20px;

			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: 10px;

			padding: 3px;

			background-color: var(--background00);
		}

		& svg {
			height: 12px;
			width: 12px;

			& path {
				stroke: var(--text1);
				stroke-width: 3px;
			}
		}
	}
}
#Hero {
	padding: 120px var(--padding) var(--padding-medium) var(--padding);
	background: var(--background-deg);

	& .main {
		text-align: var(--hero-align);
		align-items: center;
		display: flex;
		flex-direction: column;
		flex-direction: var(--hero-direction);
		gap: 64px;
	}

	& .container {
		max-width: 1240px;
	}

	& .heroimg {
		display: flex;
		justify-content: var(--hero-img-align);

		width: 50%;
		overflow: visible;
	}

	& img {
		width: 140%;
		object-position: 0%;
	}

	& .left {
		width: var(--hero-left-width);
		z-index: 2;
	}

	& .title {
		line-height: var(--h1-height);
		font-size: var(--h1);
		font-weight: 700;
		letter-spacing: -0.4px;
		white-space: var(--hero-wrap);

		display: flex;
		justify-content: var(--hero-text-justify);
	}

	& .tagline {
		font-size: var(--tagline);
		line-height: var(--tagline-height);
		font-weight: 500;
		white-space: var(--hero-wrap);

		display: flex;
		justify-content: var(--hero-text-justify);

		color: var(--text2);

		padding-top: 12px;
	}

	& .icon {
		font-size: 20px;
		line-height: 32px;
		font-weight: 500;

		color: var(--primary);

		padding-top: 12px;
	}
}
#Partners {
	height: auto;
	padding: var(--padding) 0 var(--padding) 0;

	& .container {
		height: auto;
		max-width: 1460px;
	}

	& p {
		margin: 0 auto;
		padding-top: 10px;
		margin-bottom: 32px;

		max-width: 320px;

		text-align: center;
		line-height: 24px;
		font-size: 16px;
		font-weight: 500;
		color: var(--text2);
	}

	& svg {
		margin: 0 auto;
		height: 32px;
		width: 32px;

		& path {
			stroke: var(--primary-light);
		}
	}

	& .slider-container {
		height: 184px;
		display: flex;
		gap: 4px;
		overflow-x: hidden;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			z-index: 1;
			width: 84px;
			height: 100%;
			background: linear-gradient(
				90deg,
				var(--background01),
				var(--background01-deg)
			);
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			z-index: 1;
			width: 84px;
			height: 100%;
			background: linear-gradient(
				270deg,
				var(--background01),
				var(--background01-deg)
			);
		}
	}

	& .slider {
		display: flex;
		flex-direction: row;
		gap: 4px;
		height: 100%;
		justify-content: center;

		animation: slideleft 35s infinite linear;
	}

	& .block {
		height: 100%;
		background-color: var(--background02);

		&:hover {
			background-color: white;
		}
	}

	& a {
		height: 100%;
	}

	& article {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 290px;
		height: 100%;

		&:hover img {
			filter: invert(0%) brightness(1);
		}
	}

	& img {
		height: 40px;
		filter: invert() brightness(200);
	}
}
#CTA {
	padding: calc(var(--padding) * 1.5);

	& .button {
		margin: 0;
		background-color: transparent;
		color: var(--primary);
		font-weight: 400;
		border-color: var(--background04);

		&:hover {
			border-color: var(--primary-light);
		}
	}

	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& p.title {
		font-size: 28px;
		line-height: 32px;
		font-weight: 600;
		color: var(--text1);
	}

	& p.content {
		max-width: 320px;
		padding-top: 8px;
		line-height: 24px;
		font-size: 14px;
		font-weight: 500;
		color: var(--text2);
	}
}
#Quote {
	padding: var(--padding);
	justify-content: center;
	margin-bottom: var(--padding);

	& .background {
		background-color: var(--primary);

		border-radius: 12px;

		width: calc(100% - 20px);
		left: 20px;
		height: 100%;

		position: relative;
	}

	& .button {
		margin-top: 0;
	}

	& .box {
		background-color: var(--background01);
		padding: var(--padding-medium);

		border-radius: 12px;
		border: 1px solid var(--background04);

		display: flex;
		flex-direction: column;

		align-items: center;

		position: relative;
		bottom: -40px;
		left: -40px;
	}

	& .footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		margin-top: 32px;
	}

	& .quote {
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
		color: var(--text1);
		font-style: italic;

		width: 100%;
	}

	& .portrait {
		display: flex;
		gap: 16px;
		align-items: center;

		& p:nth-child(1) {
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;
		}

		& p:nth-child(2) {
			font-size: 14px;
			line-height: 24px;
			color: var(--text2);
			font-weight: 400;
		}

		& img {
			width: 52px;
		}
	}
}
#Features {
	padding: var(--padding);

	& .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	& #title {
		font-size: 40px;
		line-height: 46px;
		max-width: 620px;
		font-weight: 600;
		text-align: center;
		color: var(--text1);
	}

	& #description {
		padding-top: 16px;
		text-align: center;
		line-height: 24px;
		font-size: 14px;
		font-weight: 480;
		color: var(--text2);
		max-width: 520px;

		margin-bottom: var(--padding-small);
	}

	& .box {
		display: flex;
		flex-direction: row;

		margin-top: var(--padding);

		background-color: var(--background02);

		border-radius: 12px;
		border: 1px solid var(--background02);

		width: 100%;

		align-items: flex-end;
		justify-content: space-between;
		gap: var(--padding);

		& .text-box {
			padding: var(--padding) 0 var(--padding) var(--padding);

			height: 100%;
			width: auto;
		}

		& .img-box {
			width: var(--faces-img-width);
			padding-right: var(--padding-small);

			position: relative;
		}

		& img {
			width: 90%;

			position: absolute;
			right: 0%;
			bottom: 0%;
		}
	}

	& p.title {
		font-size: 28px;
		line-height: 36px;
		max-width: 320px;
		font-weight: 600;
		color: var(--text1);
	}

	& p.content {
		padding-top: 16px;
		line-height: 24px;
		font-size: 14px;
		font-weight: 500;
		color: var(--text2);
		max-width: 360px;
	}

	& .boxes {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		flex-direction: var(--features-direction);
		gap: 16px;

		& .img {
			padding: var(--padding-small) var(--padding-small) 0 0;
			background-color: var(--background02);

			border-radius: 12px;
			border: 1px solid var(--background02);

			flex: 3;

			display: flex;
			align-items: end;

			& img {
				width: 100%;
				min-height: 60%;

				object-fit: cover;
				object-position: top right;
				border-radius: 0 0 0 12px;
			}
		}

		& .text {
			display: flex;
			flex-direction: column;

			flex: 2;

			padding: var(--padding-medium);

			border: 1px solid var(--background04);
			border-radius: 12px;
			justify-content: start;
		}
	}
}
#Footer {
	padding: var(--padding);
	background-color: var(--background00);

	height: 100%;

	border-top: var(--border) 1px solid;

	& .container {
		display: flex;
		flex-direction: var(--features-direction);

		gap: 24px;

		justify-content: space-between;
		align-items: center;

		max-width: 1320px;
	}

	& .logo {
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: 8px;

		& img {
			width: 92px;
		}
	}

	& p {
		text-align: right;
		max-width: 420px;
		line-height: 24px;
		font-size: 14px;
		font-weight: 500;
		color: var(--text2);
	}

	& .contact {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	& .button {
		padding: 0 24px;
	}

	& a {
		margin: 0;
		display: flex;
		align-items: center;
		gap: 12px;
		line-height: 38px;

		&:nth-child(2) {
			background-color: transparent;
			border: 1px solid var(--background04);
			color: var(--text2);
			font-weight: 400;

			&:hover {
				border-color: var(--background05);
			}
		}
	}

	& svg#email {
		height: 24px;
		width: 24px;
	}

	& svg#linkedin {
		height: 20px;
		width: 20px;

		padding-bottom: 2px;
	}

	& #email * {
		stroke: var(--text1);
	}

	& #linkedin * {
		stroke-width: 0px;
		fill: var(--text2);
	}
}

/* Breakpoints */
@media (max-width: 640px) {
	body {
		--card-max-width: 100%;
		--slide-item-width: 300px;

		--padding: 24px;
		--padding-medium: 24px;
		--padding-small: 20px;

		--h1: 32px;
		--h1-height: 40px;

		--tagline: 18px;
		--tagline-height: 28px;

		--hero-direction: column;
		--hero-align: center;
		--hero-left-width: 100%;
		--hero-text-justify: center;
		--hero-img-align: center;

		--features-direction: column;
		--faces-img-width: 100vw;

		& #Hero {
			& .heroimg {
				width: 60vw;
			}

			& .left {
				max-width: 460px;
			}
		}

		& #CTA,
		#Partners {
			margin: 48px 0;
		}

		& #CTA .container {
			display: flex;
			flex-direction: column;
			gap: 24px;

			& .text {
				text-align: center;
			}
		}

		& #Quote {
			padding-left: 48px;

			& .footer {
				display: flex;
				flex-direction: column;
				gap: 24px;

				& .portrait {
					align-self: start;
				}

				& .button {
					align-self: end;
				}
			}
		}

		& #Footer {
			margin-top: 80px;

			& .container {
				padding: var(--padding) 0;
				gap: 32px;

				& .logo {
					display: flex;
					gap: 28px;

					align-items: center;

					& p {
						text-align: center;
					}
				}
			}
		}

		& #Features .box {
			flex-direction: column;
			justify-content: center;

			gap: 0;

			& .text-box {
				padding: var(--padding);
				width: 100%;
			}

			& .img-box {
				display: flex;
				justify-content: center;
				width: 100%;
				padding: 0;
			}

			& img {
				position: relative;
				max-height: 300px;
			}
		}

		& #Features .boxes .img {
			display: none;
		}

		& #Hero #quebra02 {
			display: none;
		}

		& #Hero #quebra01 {
			display: none;
		}

		& #Hero #quebra03 {
			display: none;
		}
	}
}
@media (min-width: 640px) {
	body {
		--padding: 48px;
		--padding-medium: 32px;
		--padding-small: 24px;

		--card-max-width: calc((100% - 16px) / 2);

		--h1: 44px;
		--h1-height: 56px;

		--tagline: 20px;
		--tagline-height: 32px;

		--hero-direction: column;
		--hero-align: center;
		--hero-left-width: 100%;
		--hero-text-justify: center;
		--hero-img-align: center;

		--features-direction: row;
		--faces-img-width: 100vw;

		& #Hero .heroimg {
				min-width: 380px;
			}

		& #Hero #quebra02 {
			display: flex;
		}

		& #Hero #quebra01 {
			display: none;
		}
	}
}
@media (min-width: 960px) {
	body {
		--padding: 64px;
		--card-max-width: calc((100% - 32px) / 3);

		--h1: 44px;
		--h1-height: 50px;

		--tagline: 20px;
		--tagline-height: 32px;

		--hero-direction: row;
		--hero-align: left;
		--hero-left-width: 50%;
		--hero-text-justify: flex-start;
		--hero-wrap: nowrap;
		--hero-img-align: start;

		--features-direction: row;
		--faces-img-width: 42%;

		& #Hero #quebra02 {
			display: none;
		}

		& #Hero #quebra01 {
			display: flex;
		}
	}
}
@media (min-width: 1280px) {
	:root {
	}
}

/* Animações */
@keyframes slideleft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes slideright {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}
