@import url(./reset.css);

/* Variáveis Light Mode*/
:root.light {
	--background01: #1b1b1f;
	--background02: #202127;

	--gray-soft: rgba(101, 117, 133, 0.16);

	--text1: rgba(255, 255, 245, 0.86);
	--text2: rgba(235, 235, 245, 0.6);
	--text3: rgba(235, 235, 245, 0.38);

	--primary: #1bbd8c;
	--primary-light: #26dda6;

	& .toggle-mode {
		justify-content: flex-start;

		& svg#moon {
			display: none;
		}
	}
}

/* Variáveis Dark Mode*/
:root.dark {
	--background00: #16161a;
	--background01: #1b1b1f;
	--background01-deg: #1a1a1e00;
	--background02: #202127;
	--background03: #292a31;
	--background04: #373842;
	--background05: #525364;
	--background-deg: linear-gradient(160deg, #24242b, #1b1b1f, #1b1b1f);
	--primary-deg: linear-gradient(160deg, #35d3a4, #07835e, #35d3a4);

	--border: black;

	--gray-soft: #65758529;

	--text1: #fffff5db;
	--text2: rgba(235, 235, 245, 0.6);
	--text3: rgba(235, 235, 245, 0.38);

	--padding-medium: calc((var(--padding) / 1.5));
	--padding-small: calc((var(--padding) / 2));

	--primary: #1bbd8c;
	--primary-dark: #53776c;
	--primary-light: #26dda6;

	& .toggle-mode {
		justify-content: flex-end;

		& svg#sun {
			display: none;
		}
	}
}

/* Componentes */
.container {
	max-width: 1152px;
	margin: 0 auto;
}
.button {
	font-size: 14px;
	line-height: 38px;
	font-weight: 600;

	color: #fff;
	background-color: var(--primary);

	border: 1px solid;
	border-radius: 20px;
	border-color: var(--primary-light);

	height: fit-content;
	padding: 0 20px;
	margin: 32px 0 0;

	cursor: pointer;

	&:hover {
		background-color: var(--primary-light);
	}

	transition: color 0.25s, border-color 0.25s, background-color 0.25s;

	& a {
		white-space: nowrap;
	}
}
.card {
	background-color: var(--background02);
	border-radius: 12px;

	min-width: calc(((var(--breakpoint-tablet)- (var(--padding) * 2))-16px) / 2);
	max-width: var(--card-max-width);

	padding: 24px;

	& .icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		border-radius: 6px;

		width: 48px;
		height: 48px;
		font-size: 24px;
		transition: background-color 0.25s;

		background-color: var(--gray-soft);
	}

	& .title {
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
	}

	& .details {
		padding-top: 8px;

		line-height: 24px;
		font-size: 14px;
		font-weight: 500;
		color: var(--text2);
	}
}

/* Seções */
#Expertise {
	padding: 0 var(--padding) var(--padding);
	box-sizing: border-box;

	& .container {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		align-items: stretch;
	}
}
#Header {
	padding: 0 var(--padding-small);

	& .container {
		height: 64px;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		background: none;

		max-width: 1320px;
		width: 100%;
	}

	& img {
		width: 80px;
	}

	& .toggle-mode {
		background-color: var(--background03);

		border-radius: 12px;
		border: 1px solid var(--background05);

		height: 22px;
		width: 40px;

		display: flex;
		align-items: center;

		padding: 1px;

		& .switch {
			height: 20px;
			width: 20px;

			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: 10px;

			padding: 3px;

			background-color: var(--background00);
		}

		& svg {
			height: 12px;
			width: 12px;

			& path {
				stroke: var(--text1);
				stroke-width: 3px;
			}
		}
	}
}
#Hero {
	padding: calc(var(--padding) * 1.5) var(--padding) var(--padding) var(--padding);
	background: var(--background-deg);
	margin-top: -64px;

	& .main {
		text-align: left;
		align-items: center;
		display: flex;
		gap: 64px;
	}

	& .container {
		max-width: 1240px;
	}

	& .heroimg {
		display: block;
		width: 50%;
		overflow: visible;
	}

	& img {
		width: 120%;
		object-position: 0%;
	}

	& .left {
		width: 50%;
	}

	& .title {
		line-height: 52px;
		font-size: 44px;
		font-weight: 700;
		letter-spacing: -0.4px;

		max-width: 576px;
	}

	& .tagline {
		font-size: 20px;
		line-height: 32px;
		font-weight: 500;

		color: var(--text2);

		max-width: 576px;

		padding-top: 12px;
	}

	& .icon {
		font-size: 20px;
		line-height: 32px;
		font-weight: 500;

		color: var(--primary);

		max-width: 576px;

		padding-top: 12px;
	}
}
#Partners {
	height: auto;
	padding: var(--padding) 0 var(--padding) 0;

	& .container {
		height: auto;
		max-width: 1460px;
	}

	& p {
		margin: 0 auto;
		padding-top: 10px;
		margin-bottom: 32px;

		max-width: 320px;

		text-align: center;
		line-height: 24px;
		font-size: 16px;
		font-weight: 500;
		color: var(--text2);
	}

	& svg {
		margin: 0 auto;
		height: 32px;
		width: 32px;

		& path {
			stroke: var(--primary-light);
		}
	}

	& .slider-container {
		height: 184px;
		display: flex;
		gap: 4px;
		overflow-x: hidden;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			z-index: 1;
			width: 84px;
			height: 100%;
			background: linear-gradient(
				90deg,
				var(--background01),
				var(--background01-deg)
			);
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			z-index: 1;
			width: 84px;
			height: 100%;
			background: linear-gradient(
				270deg,
				var(--background01),
				var(--background01-deg)
			);
		}
	}

	& .slider {
		display: flex;
		flex-direction: row;
		gap: 4px;
		height: 100%;
		justify-content: center;

		animation: slideleft 35s infinite linear;
	}

	& .block {
		height: 100%;
		background-color: var(--background02);

		&:hover {
			background-color: white;
		}
	}

	& a {
		height: 100%;
	}

	& article {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 290px;
		height: 100%;

		&:hover img {
			filter: invert(0%) brightness(1);
		}
	}

	& img {
		height: 40px;
		filter: invert() brightness(200);
	}
}
#CTA {
	padding: calc(var(--padding) * 1.5);

	& .button {
		margin: 0;
		background-color: transparent;
		color: var(--primary);
		font-weight: 400;
		border-color: var(--primary-dark);

		&:hover {
			border-color: var(--primary-light);
		}
	}

	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& p.title {
		font-size: 28px;
		font-weight: 600;
		color: var(--text1);
	}

	& p.content {
		max-width: 320px;
		padding-top: 8px;
		line-height: 24px;
		font-size: 14px;
		font-weight: 500;
		color: var(--text2);
	}
}
#Quote {
	padding: var(--padding);
	justify-content: center;
	margin-bottom: var(--padding);

	& .background {
		background-color: var(--primary);

		border-radius: 12px;

		width: calc(100% - 20px);
		left: 20px;
		height: 100%;

		position: relative;
	}

	& .button {
		margin-top: 0;
	}

	& .box {
		background-color: var(--background01);
		padding: 80px 80px 64px 80px;

		border-radius: 12px;
		border: 2px solid var(--background04);

		display: flex;
		flex-direction: column;

		align-items: center;

		position: relative;
		bottom: -40px;
		left: -40px;
	}

	& .footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		margin-top: 32px;
	}

	& .quote {
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
		color: var(--text1);
		font-style: italic;

		width: 100%;
	}

	& .portrait {
		display: flex;
		gap: 16px;
		align-items: center;

		& p:nth-child(1) {
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;
		}

		& p:nth-child(2) {
			font-size: 14px;
			line-height: 24px;
			color: var(--text2);
			font-weight: 300;
		}

		& img {
			width: 52px;
		}
	}
}
#Features {
	padding: var(--padding);

	& .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	& #title {
		font-size: 40px;
		line-height: 52px;
		max-width: 620px;
		font-weight: 600;
		text-align: center;
		color: var(--text1);
	}

	& #description {
		padding-top: 16px;
		text-align: center;
		line-height: 24px;
		font-size: 14px;
		font-weight: 480;
		color: var(--text2);
		max-width: 520px;

		margin-bottom: var(--padding-small);
	}

	& .box {
		display: flex;

		margin-top: var(--padding);

		background-color: var(--background02);

		border-radius: 12px;

		width: 100%;

		align-items: flex-end;
		justify-content: space-between;
		gap: var(--padding);

		& .text-box {
			padding: var(--padding) 0 var(--padding) var(--padding);

			height: 100%;
		}

		& .img-box {
			width: 42%;
			height: 100%;
			padding-right: var(--padding);

			position: relative;
		}

		& img {
			width: 100%;

			position: absolute;
			right: 0%;
			bottom: 0%;

			padding-right: var(--padding);
		}
	}

	& p.title {
		font-size: 28px;
		line-height: 36px;
		max-width: 320px;
		font-weight: 600;
		color: var(--text1);
	}

	& p.content {
		padding-top: 16px;
		line-height: 24px;
		font-size: 14px;
		font-weight: 500;
		color: var(--text2);
		max-width: 360px;
	}

	& .boxes {
		width: 100%;
		height: 100%;

		display: flex;
		gap: 16px;

		& .img {
			padding: var(--padding-small) var(--padding-small) 0 0;
			background-color: var(--background02);
			border-radius: 12px;

			width: 60%;

			display: flex;
			align-items: end;

			& img {
				width: 100%;

				object-fit: cover;
				border-radius: 0 0 0 12px;
			}
		}

		& .text {
			display: flex;
			flex-direction: column;

			width: 40%;

			padding: var(--padding-medium);

			border: 2px solid var(--background04);
			border-radius: 12px;
			justify-content: start;
		}
	}
}
#Footer {
	padding: var(--padding);
	background-color: var(--background00);

	height: 100%;

	border-top: var(--border) 1px solid;

	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		max-width: 1320px;
	}

	& .logo {
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: 8px;

		& img {
			width: 92px;
		}
	}

	& p {
		text-align: right;
		max-width: 420px;
		line-height: 24px;
		font-size: 14px;
		font-weight: 500;
		color: var(--text2);
	}

	& .contact {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	& .button {
		padding: 0 24px;
	}

	& a {
		margin: 0;
		display: flex;
		align-items: center;
		gap: 12px;
		line-height: 38px;

		&:nth-child(2) {
			background-color: transparent;
			border: 1px solid var(--background04);
			color: var(--text2);
			font-weight: 400;

			&:hover {
				border-color: var(--background05);
			}
		}
	}

	& svg {
		height: 24px;
		width: 24px;
	}

	& #email * {
		stroke: var(--text1);
	}

	& #linkedin * {
		stroke: var(--text2);
		stroke-width: 2px;
	}
}

/* Breakpoints */
@media (max-width: 640px) {
	:root {
		--card-max-width: 100%;
		--slide-item-width: 300px;
		--padding: 32px;
	}
}
@media (min-width: 640px) {
	:root {
		--padding: 48px;

		--card-max-width: calc((100% - 16px) / 2);
	}
}
@media (min-width: 960px) {
	:root {
		--padding: 64px;
		--card-max-width: calc((100% - 32px) / 3);
	}
}
@media (min-width: 1280px) {
	:root {
	}
}

/* Animações */
@keyframes slideleft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes slideright {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}
